html {
    /*background-color: black;*/
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
    hieght:100%;
    position: relative;
}

body {
    /*background-color: black;*/
    background-image: url("burger.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    margin-bottom: 60px;
    max-width: 20000px;
    /*min-height: 100%;*/
    height: 100%;
    /*padding: 1em 2em 1em;*/
}

#home {
    display: block; 
}

#menu {
    display: none;
}

#confirmation {
    display: none;
}

#about {
    display: none;
}

#submenu-header{
  width: 100%;
  opacity: 0.85;
  backgroud-color: white;
  border-color: #ccc;
  border: 1px solid grey;
  box-shadow:none;
  font-weight: bold;
  font-family: "curier new", monospace;
}

.well{
    margin-left: 40px;
    margin-right: 40px;
    width: 92%;
    padding-left: 30px;
    margin-bottom: 30px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.collapse, .collapsing {
    background-color: white;
    opacity: .9;
}
.collapse.in {
    
    display: block;
}

.panel-heading {
  border: 1px solid grey;  
}

.table{
  border: 1px solid grey;
}

#btn_transparent {
  opacity: 0.7;
  backgroud-color: white;
  border-color: #ccc;
  border: 2px solid grey;
  box-shadow:none;
  font-weight: bold;
}

#ready_order_table{
  opacity: 0.88;
  background-color: white;
  border-color: #ccc;
  background:none;
  box-shadow:none;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 0 solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    max-width: 90%;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    width: 60%;
}

.table-fixed thead {
  width: 100%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

#about{
    opacity: 0.85;
    background-color: white;
}

h1 {
    color: black;
    font-family: "courier new", monospace;
}

h3 {
    font-size: 36px;
    color: black;
    font-family: "courier new", monospace;
}


p {
    margin: 0;
    color: black;
}
.box {
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: black;
  color: grey;
  font: 14px;
  text-align: center;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}